<mat-toolbar color="primary">
  <a class="draughs" routerLink=""><span>Draughts</span></a>
  <button class="menuLogin" mat-menu-item routerLink="login"><span><mat-icon>account_circle</mat-icon></span></button>
  <button class="menuLogin" mat-menu-item routerLink="play"><span>Play</span></button>
  <button class="menuLogin" mat-menu-item routerLink="openGame"><span>Open Game</span></button>
  <button class="menuButton" mat-flat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item><span>Game</span></button>
  <button mat-menu-item routerLink="signup"><span>Sign up</span></button>
</mat-menu>
